.about{
    background-color: #191919;
    height: 200vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main-heading{
font-size: 8em;
color: #B9131A;
width: 80%;
margin-top: 3%;
margin-left: 10%;
text-align: left;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.about-info{
    color: white;
    font-size: 3.5em;
    width: 80%; /* Set the width of the container */
    /* max-width: 600px; */
    margin-left: 10%;
    text-align: left;
}

.about-subheading{
    font-size: 60px;
    color: #B9131A;
    margin-top: 2%;
}
.about-card:hover {
    transform: scale(1.05);
    /* box-shadow: 0 0 20px #d92929; */
  }
  
  .about-card {
    text-align: left;
    font-size: 18px;
    width: 400px;
    height: 270px;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    background-color: #191919;
    border-radius: 20px;
    border: 1px solid white;
  }
  
  .about__details {
    font-size: 30px;
    text-align: center;
  }
  .about__details h2{
    font-size: 40px;
    margin-top: 2%;
    margin-left: 2%;
    color: white;
  }
  .about__details h3{
    font-size: 25px;
    /* margin-top: 2%; */
    margin-left: 2%;
    color: white;
  }

  .about__links{
    color: white;
    margin-left: 2%;
    margin-top: 15%;
    font-size:25px ;

  }
  .about__links a{
    text-decoration: none;
    color:white
  }
  .about__link-space {
    margin-right: 30px; 
   
    
  }
  .email {
    margin-bottom: 5px; 
  }
  
  .email a {
    padding-left: 5px; 
  }
  .about__links a:hover {
    color: #B9131A;
  }
  
