.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #d92929;
}

.card {
  text-align: left;
  font-size: 18px;
  height: 350px;
  transition: transform 0.3s ease;
}


.card__title{
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 0;
  text-decoration: none;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__channel {
  width: 45px;
  height: 45px;
  border: 0.5px black;
  border-radius: 50%;
  margin-left: 10px;
  margin-bottom: 10px; 
  margin-top: 9px; 
  margin-right: 5px; 
}

.card__details {
  display: flex;
  margin-top: 5px;
}

.card__views {
  font-size: 15px;
  color: #232020;
  margin-top: 0;
  margin-right: 1px;
  margin-bottom: 0;
}
.card__age {
  font-size: 15px;
  color: #232020;
  margin-top: 0;
  margin-left: 1px;
  margin-bottom: 0px;
}

.card__channelName {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 15px;
  color: #232020;
}

.card__channelDescription {
  font-size: 15px;
  color: #232020;
}

.card__info{
  margin-top: 0;
}