/* HorizontalCard.css */
.channel-card {
  /* background: color white; */
  background-color: #191919;
  position: relative;
  /* align-items: center; */
  color: #fff;
  width: 85%;
  height: 220px;
  display: flex;
  padding: 10px;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
  margin-left:8%;
}

.channel-card:hover {
  transform: scale(1.01);
  border: 1px solid red;
  /* box-shadow: 0 0 20px #d92929; */
}

.channel-card__icon {
  margin-right: 20px;
}
.channel-card__title{
  margin-top: 3px;
  font-size: 30px;
  color: #aba3a3;
  /* margin-left: 10px; */
}
.channel-card__icon .channel-card__img {
  width: 180px;
  height: 180px;
  border-radius: 50%; 
  margin-left: 5%;
  margin-top: 5%;
}

.channel-card__description {
  font-size: 20px;
  color: #aba3a3;
  /* white-space: normal; */
  
  
}


.channel-card__info{
  margin-left: 4%;
  flex-grow: 1;
  position: relative;
}



.channel-button {
  position: absolute;
  display: flex;
  align-items: center; /* Center items horizontally */
  /* margin-left: 90%; */
  margin-top: 2%;
}
/* .channel-card__button {

  background-color: #ccc; 
  color: #fff;
  padding: 8px 20px;
  display: flex;
  border-radius: 30px;
  text-decoration: none;
  width: 100%;
  margin-left: auto;
} */

.channel-button button
{
    width: 100px;
    height: 40px;
    background: transparent;
    border: 1px solid white;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    /* padding: 0 20px;  */
}

.channel-button a{
  text-decoration: none;
}