.feedback{
    background-color: #191919;
    height: 100vh;
}

  
  .feedback-container {
    max-width: 1000px;
    height: 500px;
    margin-top: 50px;
    margin-left:20%;
    background-color:#191919;
    /* background-image: url(../assets/bg4.jpeg); */
    padding: 20px;
    border-radius: 20px;
    border: 1px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .feedback-container h2 {
    font-size: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: aliceblue;
    /* color: #191919; */
    text-transform: uppercase;
  }
  .star-rating {
    display: flex; /* Display stars in a row */
    align-items: center; /* Align stars vertically */
    flex-direction: column;
  }
  .label-row {
    margin-bottom: 10px;
    font-size: 25px;
    color: white;
  }
  
  .stars-row {
    display: flex;
    align-items: center;
  }
  .star-rating label {
    display: block; /* Display stars on the next line */
  }
  
  .star-rating input[type="radio"] {
    display: none; /* Hide the radio buttons */
  }
  
  .star-rating .star {
    font-size: 24px; /* Adjust the size of the stars */
    cursor: pointer;
  }
  
  /* .star-rating .star:hover,
  .star-rating .star:hover ~ .star {
    color: red;
  } */
  
  .star-rating .star {
    font-size: 24px; /* Adjust the size of the stars */
    cursor: pointer;
    color: white; /* Initial color */
  }
  
  .star-rating .star:checked ~ .star {
    color: black; /* Change color when checked */
  }
  
  
  .feedback-text {
    margin-bottom: 20px;
  }
  
  .feedback-text label {
    display: block;
    margin-bottom: 5px;
  }
  
  .feedback-text textarea {
    margin-top: 2%;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: transparent;
    color: white;
  }
  textarea:focus {
    /* background-color: rgba(255, 0, 0, 0.1); Add a slight background blur effect on focus */
  }
  button {
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .submit-button{
    margin-left: 40%;
  }

  