.header {
  background-color: white;
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  border: 1px black solid;
  padding: 10px;
  padding-right: 12px;
}

.header__left {
  display: flex;
  align-items: center;
  
}

.header__menu {
  height: 40px;
  margin-right: 20px;
  object-fit: contain;
}

.header__logo {
  height: 40px;
  object-fit: contain;
}

.header__center {
  flex: 1;
  text-align: center;
}

.header__searchbar {
  height: 30px;
  width: 200px;
  border-width: 1px;
  border-radius: 4px;
  padding-right: 40px;
}

.header__searchbar::placeholder{
    font-size: 16px;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__image {
  height: 30px;
  margin-right: 10px;
}

.header__searchContainer {
  position: relative;
}


.header__searchButton {
  position: absolute;
  top: 0;
  left:auto;
  height: 100%;
  width: 40px; 
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.sidebar {
  position: absolute;
  top: calc(100% + 10px); /* Adjust this value as needed */
  left: 0;
  background-color: #fff; /* Background color of the sidebar */
  border: 1px solid #ccc; /* Border for the sidebar */
  padding: 10px;
  z-index: 999; /* Ensure the sidebar is above other content */
}

@media (min-width: 576px) { 
  .header__searchbar{
      width: 300px;
  }
}

@media (min-width: 768px) { 

  .header__searchbar{
      width: 450px;
  }
}

@media (min-width: 992px) { 
  .header__searchbar{
      width: 600px;
  }
}
/* @media (min-width: 1200px) { 
  .header__searchbar{
      width: 600px;
  }
}
@media (min-width: 1400px) { 
  .header__searchbar{
      width: 600px;
  }
} */
