.header {
  background-color: #191919;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  /* border: 1px black solid; */
  padding: 10px;
  padding-right: 12px;
  z-index: 1000;
  transition: all 0.3s ease;
}
.header__left {
  display: flex;
  align-items: center;
  
}

.header__menu {
  font-size: 20px;
  height: 40px;
  margin-right: 20px;
  object-fit: contain;
  color: #fff;
}

.header__logo {
  height: 40px;
  object-fit: contain;
}

.header__center {
  flex: 1;
  text-align: center;
}

/* .header__searchbar {
  height: 30px;
  width: 150px;
  border-width: 1px;
  border-radius: 4px;
  padding-right: 40px;
  outline: none; 
  background-color: rgba(25, 25, 25, 0.9);
}

.header__searchbar::placeholder{
    font-size: 16px;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__image {
  height: 30px;
  margin-right: 10px;
}

.header__searchContainer {
  position: relative;
}


.header__searchButton {
  position: absolute;
  top: 0;
  left:auto;
  height: 100%;
  width: 40px; 
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.header__search{
color: white;
} */

/* Header.css */

.header__searchbar {
  height: 36px; /* Increase height for better visibility */
  width: calc(100% - 50px); /* Adjust width to accommodate search button */
  border: 1px solid #d3d3d3; /* Add border */
  border-radius: 24px; /* Add border radius to make it rounded */
  padding: 8px 16px; /* Add padding */
  font-size: 16px; /* Adjust font size */
  outline: none; 
  background-color: rgba(25, 25, 25, 0.9);
  color: white;
}

.header__searchbar::placeholder {
  font-size: 16px; /* Adjust placeholder font size */
}

.header__searchButton {
  position: absolute;
  top: 50%;
  left: auto;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__searchButton:focus {
  outline: none; /* Remove default focus outline */
}

.header__search  {
  color: white;
  font-size: 18px;
  top: 1%;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__image {
  height: 30px;
  margin-right: 10px;
}

.header__searchContainer {
  position: relative;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__right i {
  font-size: 22px;
  color: white; 
  margin-right: 20px;
}


.sidebar {
  position: fixed;
  top: 0%; 
  left: 0;
  background-color: rgba(25, 25, 25, 0.9); 
  padding: 10px;
  z-index: 2000; 
  height: 100vh; 
  overflow-y: auto; 
  width: 20%;
  transition: transform 0.3s ease;
}
.sidebar-open {
  transform: translateX(0);
}
.sidebar__menu {
  font-size: 20px;
  height: 40px;
  margin-right: 20px;
  object-fit: contain;
  color: white;
}

.sidebar__logo {
  height: 40px;
  object-fit: contain;
}
.sidebar__list{
  padding-top: 30px;
}
.sidebar ul {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
}
.sidebar ul li
{
  color: white;
  font-size: 1em;
  margin-top: 5px;

}
.sidebar i{
  color: white;
  margin-right: 2px;
}
.sidebar__list ul li button {
  margin-bottom: 10px; /* Add margin between buttons */
}

.explore__list {
  padding-left: 20px; /* Indent the explore list */
}

.explore__list ul {
  list-style-type: none; /* Remove bullets */
  padding: 0;
}


.sidebar ul li button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  color: white;
  transition: background-color 0.3s ease, border-radius 0.3s ease
}

.sidebar ul li button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
}
.sidebar-open {
  transform: translateX(0);
}

.sidebar-open ~ .header::before {
  background-color: rgba(255, 255, 255, 0.5); 
}

.sidebar-open ~ .header {
  filter: blur(5px); 
  pointer-events: none; 
}


@media (max-width: 768px) {
  .header__left {
    position: relative;
  }
  .sidebar {
    width: 50%;
    top: 1%;
  }
}


@media (min-width: 576px) { 
  .header__searchbar{
      width: 300px;
  }
  .sidebar {
    width: 50%;
    top: 1%;
  }
}

@media (min-width: 768px) { 

  .header__searchbar{
      width: 450px;
  }
  .sidebar {
    width: 50%;
    top: 1%;
  }
}

@media (min-width: 992px) { 
  .header__searchbar{
      width: 600px;
  }
  .sidebar {
    width: 20%;
    top: 1%;
  }
}