.payment{
    background-color: #191919;
    width: 100%;
    height: 1000px;
}

.payment__logo{
    height: 40px;
}

.payment__details{
    margin-left: 30%;
    width: 500px;
    height: 600px;
    text-align: center;
    border: 1px solid #fff;
    background-color: #191919;
}