.payment{
    padding: 250px;
    color: #fff;
    background-color: #191919;
    width: 100%;
    height: 735px;
}

.payment__logo{
    height: 40px;
}

.payment__details{
    margin-left: 32%;
    width: 400px;
    height: fit-content;
    border: 1px solid #fff;
    background-color: #191919;
}

.payment__heading{
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
}

.payment__input .payment__button{
    color: #fff;
    font-size: 14px
}

.payment__button{
    visibility: hidden;
}

.buttons{
    text-align: center;
}

.btn-selected{
    margin-right: 7px;
    background-color: #191919;
    border: 1px solid #fff;
    border-radius:2%;
    color: #fff;
}

.btn-unselected{
    background-color: #e50914;
    border-radius:2%;
    color: #fff;
    margin-right: 7px;
}

.payment__payValue{
    margin-left: 52px;
    width: 260px;
}