.recommended{
    padding-top: 70px;
    width: 100%;
    height: 100%;
    background-color:#191919;
    transition: width 0.3s ease; 
    text-decoration: none;
}

.video-link{
    text-decoration: none;
}
/* .sidebar-open ~ .recommended::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); 
    z-index: 999; 
  } */
  
  /* .sidebar-open ~ .recommended {
    background-color: white;
    filter: blur(1px); 
    pointer-events: none; 
  }
   */
  
  
.card{
    text-decoration: none;
    width: 29rem;
    height:30rem;
    margin: 20px;
}



@media (min-width: 576px) { 
    .card{
        width: 15rem;
        margin: 10px;
    }
}

@media (min-width: 768px) { 

    .card{
        width: 14rem;
        margin: 10px;
    }
 }

@media (min-width: 992px) { 
    .card{
        width: 14rem;
        margin: 10px;
    }
 }
@media (min-width: 1200px) { 
    .card{
        width: 17rem;
        margin: 10px;
    }
 }
@media (min-width: 1400px) { 
    .card{
        width: 19.5rem;
        margin: 20px;
    }
 }
