/* HorizontalCard.css */
.scard {
  background-color: #191919;
  color: #fff;
  width: 650px;
  height: 180px;
  display: flex;
  padding: 10px;
  margin-bottom: 5px;
  transition: transform 0.3s ease;
}

.scard:hover {
  transform: scale(1.01);
  box-shadow: 0 0 7px #d92929;
}

.scard__thumbnail {
  margin-right: 20px;
}

.scard__thumbnail .scard__img {
  width: 230px;
  height: 150px;
}

.scard__description {
  flex-grow: 1; /* Allow description to grow and take remaining space */
}

.scard__channel {
  width: 30px;
  height: 30px;
  border: 0.5px black;
  border-radius: 50%;
  margin-bottom: 5px; /* Add spacing between channel logo and description */
}

.scard__text {
  font-size: 20px;
  margin-bottom: 5px; 
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit the text to two lines */
  -webkit-box-orient: vertical;
  white-space: normal;
}

.scard__text.truncated::after {
  content: '...'; /* Add ellipsis if truncated */
}

.scard__details {
  display: flex;
  margin-bottom: 7px;
}

.scard__views {
  font-size: 13px;
  color: #aba3a3;
  margin-right: 2px;
  margin-bottom: 0;
}
.scard__age {
  font-size: 13px;
  color: #aba3a3;
  margin-left: 2px;
  margin-bottom: 0px;
}

.scard__channelName {
  margin-top: 3px;
  font-size: 13px;
  color: #aba3a3;
  margin-left: 10px;
}

.scard__channelDescription {
  font-size: 15px;
  color: #aba3a3;
}
