.video{
    background-color: #191919;
    width: 100%;
    height: 1000px;
}

.video__information{
    display: flex;
}

.video__player{
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 0;
}
